.product{
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
}
.product img{
    width: 286px;
    height: 286px;
    border-radius: 8px;
    margin: 7px;
}
.product-info{
    margin: 0 14px;
}
.product-info p{
    margin-bottom: 0;
    margin-top: 5px;
}
.product-name{
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 25px;
    margin-top: 7px;
   
}
.btn-cart{
    margin-top: 50px;
    width: 100%;
    background: rgb(255, 183, 183);
    font-weight: 600;
    border: none;
    border-radius: 0px 0px 8px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-cart .btn-text{
    margin-right: 5px;
}
.btn-cart:hover{
    background-color: rgb(231, 174, 99);
    cursor: pointer;
}